{% extends "my_site/base.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/users.css' %}">
    <div class="form-div">
        <form method="POST" >
            {% csrf_token %}
            {{ form|crispy }}
            <div>
                <button type="submit"> Зарегистрироваться </button>
            </div>
        </form>
        <div>
            Уже есть аккаунт? <a href="{% url 'login' %}" > Войти в аккаунт </a>
        </div>
    </div>
{% endblock content %}
